* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}


.container {
  padding-left: 60px;
  padding-right: 60px;
}

nav {
  display:none;
 }

#portfolio,#employment,#contact,#projects,footer{
  display:none;
} 

/* nav .icon-img {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
} */
/* 
nav ul {
  display: inline-block;
  list-style: none;
 
} */

/* nav li {
  display: inline-block;
  text-align: right;
} */

/* nav li::after {
  content: "|";
  margin-left: 5px;
}

nav a:hover {
  color: black;
} */



main {
  display:flex;
  flex-wrap: wrap;
 }

/* .box {
  margin-top: 150px;
  width: 600px;
  height: 300px;
  position: relative;
  border: 10px dotted white;
  margin-left: auto;
  margin-right: auto;
} */
.container > .menu {
  display: none;
  list-style: none;
}

footer {
  padding: 1% 0;
  background-color: #aaa;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: rgb(187, 187, 187);
}

section:nth-child(even) {
  background-color: #ddd;
}
/* for tablet sized screens*/
@media screen and (min-width: 480px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav {
  text-align: right;
  display: flex;
  justify-content: center;
  background-color: #565656;
  margin-bottom: 2px;
  padding: 2px;
}

  header > .logo {
    flex: 55px;
  }
  
  header > h1 {
    flex: 2 0;
    text-align: left;
  }
#portfolio{
  display:block;
}
  footer > .social {
    display: flex;
    justify-content: space-around;
  }

  footer > .social > .social_icon {
    font-size: 1.4em;
  }
}

/* for desktop sized screens*/
@media screen and (min-width: 780px) {
  .container > .hamburger {
    display: none;
  }

  .container > .menu {
    display: flex;
    justify-content: flex-end;
  }

  .container > .menu > li {
    flex: 0 0 100px;
    text-align: center;
  }

  main {
    display: flex;
  }
header {
  margin-left: 100px;
  color: rgba(0, 17, 255, 0.657);
  padding: 12% 0;
 
}
aside{
  margin-top: 60px;
  margin-left: 50px;
}

}
